Repository getditto/quickstart, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getditto/sdk-engineers, @kristopherjohnson, @teodorciuraru, @phatblat, @busec0, @pvditto, @konstantinbe

chore: bump version to latest rc
  android-cpp/QuickStartTasksCPP/app/build.gradle.kts
  android-java/gradle/libs.versions.toml
  android-kotlin/QuickStartTasks/gradle/libs.versions.toml
  cpp-tui/taskscpp/Makefile
  dotnet-maui/DittoMauiTasksApp/DittoMauiTasksApp.csproj
  dotnet-tui/DittoDotNetTasksConsole.Tests/DittoDotNetTasksConsole.Tests.csproj
  dotnet-tui/DittoDotNetTasksConsole/DittoDotNetTasksConsole.csproj
  dotnet-winforms/TasksApp/DittoTasksApp.csproj
  flutter_app/ios/Podfile.lock
  flutter_app/macos/Podfile.lock
  flutter_app/pubspec.lock
  flutter_app/pubspec.yaml
  javascript-tui/package-lock.json
  javascript-tui/package.json
  javascript-web/package-lock.json
  javascript-web/package.json
  react-native-expo/ios/Podfile.lock
  react-native-expo/package-lock.json
  react-native-expo/package.json
  react-native-expo/yarn.lock
  react-native/package-lock.json
  react-native/package.json
  react-native/yarn.lock
  rust-tui/Cargo.lock
  rust-tui/Cargo.toml
  swift/Tasks.xcodeproj/project.pbxproj
  swift/Tasks.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @kristopherjohnson, @teodorciuraru, @phatblat, @busec0, @pvditto, @konstantinbe

Bump SDK to 4.12.4 (#207)
  .github/workflows/dotnet-maui-ci.yml
  android-cpp/QuickStartTasksCPP/app/build.gradle.kts
  android-java/gradle/libs.versions.toml
  android-kotlin/QuickStartTasks/gradle/libs.versions.toml
  cpp-tui/taskscpp/Makefile
  dotnet-maui/DittoMauiTasksApp/DittoMauiTasksApp.csproj
  dotnet-tui/DittoDotNetTasksConsole.Tests/DittoDotNetTasksConsole.Tests.csproj
  dotnet-tui/DittoDotNetTasksConsole/DittoDotNetTasksConsole.csproj
  dotnet-winforms/TasksApp/DittoTasksApp.csproj
  flutter_app/ios/Podfile.lock
  flutter_app/macos/Podfile.lock
  flutter_app/pubspec.lock
  flutter_app/pubspec.yaml
  javascript-tui/package-lock.json
  javascript-tui/package.json
  javascript-web/package-lock.json
  javascript-web/package.json
  react-native-expo/ios/Podfile.lock
  react-native-expo/package-lock.json
  react-native-expo/package.json
  react-native-expo/yarn.lock
  react-native/ios/Podfile.lock
  react-native/macos/Podfile.lock
  react-native/package-lock.json
  react-native/package.json
  react-native/yarn.lock
  rust-tui/Cargo.lock
  rust-tui/Cargo.toml
  swift/Tasks.xcodeproj/project.pbxproj
  swift/Tasks.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @getditto/sdk-engineers, @kristopherjohnson, @teodorciuraru, @phatblat, @busec0, @pvditto, @konstantinbe

Remove empty inputs section
  .github/workflows/swift-ci.yml
Owners: @getditto/sdk-engineers

Remove empty inputs from other workflows
  .github/workflows/android-cpp-ci.yml
  .github/workflows/android-java-ci.yml
  .github/workflows/android-kotlin-ci.yml
  .github/workflows/java-spring-ci.yml
Owners: @getditto/sdk-engineers

feat: add GitHub Actions workflow for linting
  .github/workflows/lint-gha-workflow.yml
Owners: @getditto/sdk-engineers

Revert "feat: add GitHub Actions workflow for linting"
  .github/workflows/lint-gha-workflow.yml
Owners: @getditto/sdk-engineers

Fix syntax errors in Browserstack CI workflows (#209)
  .github/workflows/android-cpp-ci.yml
  .github/workflows/android-java-ci.yml
  .github/workflows/android-kotlin-ci.yml
  .github/workflows/java-spring-ci.yml
  .github/workflows/swift-ci.yml
Owners: @getditto/sdk-engineers

fix: React-Native and Android setup for version bump workflow (#204)
  .github/workflows/update-sdk-versions.yml
  android-cpp/QuickStartTasksCPP/app/build.gradle.kts
  android-java/app/build.gradle.kts
Owners: @getditto/sdk-engineers, @kristopherjohnson, @teodorciuraru, @phatblat, @busec0

chore: Edge server container testing
  android-kotlin/QuickStartTasks/app/build.gradle.kts
  android-kotlin/QuickStartTasks/app/src/main/java/live/ditto/quickstart/tasks/TasksApplication.kt
  edge-server/justfile
  edge-server/quickstart_config.yaml
Owners: @phatblat, @busec0, @getditto/sdk-engineers

.github/CODEOWNERS:

#
# .github/CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#

# Global default owners
* @getditto/sdk-engineers

# SDK-specific owners
/android-cpp/            @kristopherjohnson @teodorciuraru
/android-java/           @phatblat @busec0
/android-kotlin/         @phatblat @busec0
/cpp-tui/                @kristopherjohnson @teodorciuraru
/dotnet-maui/            @busec0 @kristopherjohnson
/dotnet-tui/             @busec0 @kristopherjohnson
/dotnet-winforms/        @busec0 @kristopherjohnson
/flutter_app/            @pvditto @teodorciuraru
/java-server/            @phatblat @busec0
/javascript-tui/         @konstantinbe @pvditto @teodorciuraru
/javascript-web/         @konstantinbe @pvditto @teodorciuraru
/kotlin-multiplatform/   @busec0 @phatblat
/react-native/           @teodorciuraru @kristopherjohnson
/react-native-expo/      @teodorciuraru @kristopherjohnson
/rust-tui/               @kristopherjohnson
/swift/                  @phatblat @konstantinbe @busec0

# TODO: Enable once we have 2 reviewers for Edge Server
# /edge-server/            @baxterjo
