Repository getditto/quickstart, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getditto/sdk-engineers, @kristopherjohnson, @teodorciuraru, @phatblat, @busec0, @cameron1024, @konstantinbe, @pvditto

fix: correct Ditto HTTP API endpoint and enhance sync verification
  .github/workflows/swift-browserstack.yml
  swift/appium_test.py
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

improve: enhance sync toggle detection with better selectors and debug output
  .github/scripts/browserstack-android-test.py
  .github/scripts/browserstack-ios-test.py
Owners: @getditto/sdk-engineers

fix: allow browserstack to discover local env vars
  .github/workflows/javascript-web-browserstack.yml
Owners: @getditto/sdk-engineers

simplify: streamline BrowserStack test to focus on core sync verification
  .github/workflows/swift-browserstack.yml
  swift/appium_test.py
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

feat: implement proper seeded document testing like Android Kotlin
  .github/workflows/swift-browserstack.yml
  swift/SeedTask.swift
  swift/appium_test.py
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

fix: add 64-bit ABI support for Pixel 8 and modern Android devices
  android-cpp/QuickStartTasksCPP/app/build.gradle.kts
  android-java/app/build.gradle.kts
  android-kotlin/QuickStartTasks/app/build.gradle.kts
Owners: @kristopherjohnson, @teodorciuraru, @phatblat, @busec0

fix: remove broken Swift script, use simple HTTP API seeding
  .github/workflows/swift-browserstack.yml
  swift/SeedTask.swift
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

trigger: force CI to run with Release build fixes
  react-native/README.md
Owners: @teodorciuraru, @kristopherjohnson

fix: simplify sync toggle detection with direct approach
  .github/scripts/browserstack-android-test.py
  .github/scripts/browserstack-ios-test.py
Owners: @getditto/sdk-engineers

improve: enhance Appium test with better permission handling and task injection
  swift/appium_test.py
Owners: @phatblat, @konstantinbe, @busec0

fix: use compiled test APK for Android BrowserStack integration tests
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

fix: implement proper UI navigation for task injection in Appium test
  swift/appium_test.py
Owners: @phatblat, @konstantinbe, @busec0

feat: replace Appium with native XCUITest for BrowserStack testing
  .github/workflows/swift-browserstack.yml
  swift/TasksUITests/TasksUITests.swift
  swift/appium_test.py
  swift/requirements.txt
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

Update .github/workflows/javascript-web-browserstack.yml
  .github/workflows/javascript-web-browserstack.yml
Owners: @getditto/sdk-engineers

fix: correct BrowserStack XCUITest API endpoints to resolve 404 errors
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: add permissions dialog handling before sync toggle activation
  .github/scripts/browserstack-android-test.py
  .github/scripts/browserstack-ios-test.py
Owners: @getditto/sdk-engineers

refactor: replace complex Android tests with simple sync verification tests
  android-cpp/QuickStartTasksCPP/app/src/androidTest/java/live/ditto/quickstart/tasks/DittoSyncIntegrationTest.kt
  android-cpp/QuickStartTasksCPP/app/src/androidTest/java/live/ditto/quickstart/tasks/DittoSyncTest.kt
  android-java/app/src/androidTest/java/com/example/dittotasks/DittoSyncIntegrationTest.kt
  android-java/app/src/androidTest/java/com/example/dittotasks/ExampleInstrumentedTest.kt
  android-java/app/src/androidTest/java/com/example/dittotasks/TasksUITest.kt
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/DittoSyncIntegrationTest.kt
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/ExampleInstrumentedTest.kt
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/TasksUITest.kt
Owners: @kristopherjohnson, @teodorciuraru, @phatblat, @busec0

simplify: match Android BrowserStack pattern - basic app functionality testing
  .github/workflows/swift-browserstack.yml
  swift/TasksUITests/TasksUITests.swift
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

feat: add HTTP API seeding + sync verification following JavaScript pattern
  .github/workflows/swift-browserstack-new.yml
  .github/workflows/swift-browserstack.yml.bak
  swift/TasksUITests/TasksUITests.swift
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

feat: implement inline HTTP API seeding matching JavaScript pattern
  .github/workflows/android-java-browserstack.yml
Owners: @getditto/sdk-engineers

fix: use sed instead of head -n-1 for macOS compatibility
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

feat: complete 6-step flow for all 3 Android apps with inline seeding
  .github/workflows/android-cpp-browserstack.yml
  .github/workflows/android-kotlin-browserstack.yml
Owners: @getditto/sdk-engineers

feat: enable sync by default for better testing and UX
  kotlin-multiplatform/composeApp/src/commonMain/kotlin/com/ditto/quickstart/data/repository/PersistentPreferenceRepository.kt
  kotlin-multiplatform/composeApp/src/commonMain/kotlin/com/ditto/quickstart/data/screenstate/MainScreenState.kt
Owners: @busec0, @phatblat

fix: update BrowserStack XCUITest API endpoints to v2
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: improve Android tests with scrolling and dialog handling, update Java Spring to inline seeding
  .github/workflows/java-spring-browserstack.yml
  android-cpp/QuickStartTasksCPP/app/build.gradle.kts
  android-cpp/QuickStartTasksCPP/app/src/androidTest/java/live/ditto/quickstart/tasks/TasksUITest.kt
  android-java/app/build.gradle.kts
  android-java/app/src/androidTest/java/com/example/dittotasks/TasksUITest.kt
  android-kotlin/QuickStartTasks/app/build.gradle.kts
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/TasksUITest.kt
Owners: @getditto/sdk-engineers, @kristopherjohnson, @teodorciuraru, @phatblat, @busec0

fix: make test bundle path absolute for BrowserStack upload
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

debug: add test bundle debugging info to diagnose 422 error
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: add explicit UIAutomator dependency to all Android apps
  android-java/app/build.gradle.kts
Owners: @phatblat, @busec0

fix: create proper XCUITest IPA with Payload directory structure
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

feat: graceful handling when UI test targets are missing
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: build correct XCUITest bundle with TasksUITests scheme
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: graceful handling for missing TasksUITests scheme
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

refactor: clean up Swift tests to match Kotlin quickstart pattern
  .github/workflows/swift-browserstack-new.yml
  .github/workflows/swift-browserstack.yml.bak
  swift/TasksUITests/TasksUITests.swift
  swift/TestRunner.swift
  swift/Tests/DittoSyncIntegrationTests.swift
  swift/Tests/IntegrationTests.swift
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

fix: implement proper BrowserStack XCUITest bundle packaging
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: remove integration test step from Swift CI workflow
  .github/workflows/swift-ci.yml
Owners: @getditto/sdk-engineers

fix: implement aggressive location permission dialog dismissal
  android-java/app/src/androidTest/java/com/example/dittotasks/TasksUITest.kt
Owners: @phatblat, @busec0

refactor: reset Java Spring BrowserStack workflow to clean, simple pattern
  .github/workflows/java-spring-browserstack.yml
  android-cpp/QuickStartTasksCPP/app/build.gradle.kts
  android-cpp/QuickStartTasksCPP/app/src/androidTest/java/live/ditto/quickstart/tasks/TasksUITest.kt
  android-kotlin/QuickStartTasks/app/build.gradle.kts
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/TasksUITest.kt
Owners: @getditto/sdk-engineers, @kristopherjohnson, @teodorciuraru, @phatblat, @busec0

fix: build proper XCUITest bundle structure for BrowserStack real device testing
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

chore(android-java): add BrowserStack integration tests
  .github/workflows/android-java-browserstack.yml
  android-java/app/src/androidTest/java/com/example/dittotasks/ExampleInstrumentedTest.kt
Owners: @getditto/sdk-engineers, @phatblat, @busec0

fix: use real Ditto credentials from secrets in integration tests
  .github/scripts/browserstack-android-test.py
  .github/scripts/browserstack-ios-test.py
  .github/workflows/kotlin-multiplatform-ci.yml
Owners: @getditto/sdk-engineers

.github/CODEOWNERS:

#
# .github/CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#

# Global default owners
* @getditto/sdk-engineers

# SDK-specific owners
/android-cpp/            @kristopherjohnson @teodorciuraru
/android-java/           @phatblat @busec0
/android-kotlin/         @phatblat @busec0
/cpp-tui/                @kristopherjohnson @teodorciuraru
/dotnet-maui/            @busec0 @phatblat
/dotnet-tui/             @busec0 @phatblat
/dotnet-winforms/        @busec0 @phatblat
/flutter_app/            @cameron1024 @teodorciuraru
/java-spring/            @phatblat @busec0
/javascript-tui/         @konstantinbe @pvditto @teodorciuraru
/javascript-web/         @konstantinbe @pvditto @teodorciuraru
/kotlin-multiplatform/   @busec0 @phatblat
/react-native/           @teodorciuraru @kristopherjohnson
/react-native-expo/      @teodorciuraru @kristopherjohnson
/rust-tui/               @kristopherjohnson @cameron1024
/swift/                  @phatblat @konstantinbe @busec0

# TODO: Enable once we have 2 reviewers for Edge Server
# /edge-server/            @baxterjo
