Repository getditto/quickstart, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getditto/sdk-engineers, @kristopherjohnson, @teodorciuraru, @phatblat, @busec0, @cameron1024, @konstantinbe, @pvditto

.github/CODEOWNERS:

#
# .github/CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#

# Global default owners
* @getditto/sdk-engineers

# SDK-specific owners
/android-cpp/            @kristopherjohnson @teodorciuraru
/android-java/           @phatblat @busec0
/android-kotlin/         @phatblat @busec0
/cpp-tui/                @kristopherjohnson @teodorciuraru
/dotnet-maui/            @busec0 @phatblat
/dotnet-tui/             @busec0 @phatblat
/dotnet-winforms/        @busec0 @phatblat
/flutter_app/            @cameron1024 @teodorciuraru
/java-spring/            @phatblat @busec0
/javascript-tui/         @konstantinbe @pvditto @teodorciuraru
/javascript-web/         @konstantinbe @pvditto @teodorciuraru
/kotlin-multiplatform/   @busec0 @phatblat
/react-native/           @teodorciuraru @kristopherjohnson
/react-native-expo/      @teodorciuraru @kristopherjohnson
/rust-tui/               @kristopherjohnson @cameron1024
/swift/                  @phatblat @konstantinbe @busec0

# TODO: Enable once we have 2 reviewers for Edge Server
# /edge-server/            @baxterjo

fix: test now looks for both document title AND document ID
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

fix: remove GitHub dependency from UI test - make it purely local
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

fix: implement BrowserStack Maestro v2 API with proper parent folder ZIP structure
  .github/workflows/react-native-bare-ios-maestro-browserstack.yml
  .github/workflows/react-native-bare-maestro-browserstack.yml
  .github/workflows/react-native-expo-ios-maestro-browserstack.yml
  .github/workflows/react-native-expo-maestro-browserstack.yml
Owners: @getditto/sdk-engineers

debug: add comprehensive logging to sync startup process
  kotlin-multiplatform/composeApp/src/commonMain/kotlin/com/ditto/quickstart/ditto/DittoManager.kt
  kotlin-multiplatform/composeApp/src/commonMain/kotlin/com/ditto/quickstart/ui/AppViewModel.kt
  kotlin-multiplatform/composeApp/src/commonMain/kotlin/com/ditto/quickstart/usecases/SetSyncStatusUseCase.kt
Owners: @busec0, @phatblat

fix: improve task list detection logic with detailed debugging
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

fix: use same Ditto environment credentials for HTTP API and mobile app
  .github/workflows/kotlin-multiplatform-ci.yml
Owners: @getditto/sdk-engineers

simplify: make test as simple as possible - just wait for documents
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

Simplify BrowserStack integration to focus on existing Spring Boot Ditto app
  java-spring/src/test/java/com/ditto/example/spring/quickstart/BrowserStackIntegrationTest.java
Owners: @phatblat, @busec0

test: detect specific document 'Clean the kitchen' as sample test
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

fix: correct BrowserStack Maestro build execution endpoint to v1
  .github/workflows/react-native-bare-ios-maestro-browserstack.yml
  .github/workflows/react-native-bare-maestro-browserstack.yml
  .github/workflows/react-native-expo-ios-maestro-browserstack.yml
  .github/workflows/react-native-expo-maestro-browserstack.yml
Owners: @getditto/sdk-engineers

fix: detect documents immediately, no unnecessary waiting
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

fix: find ANY document with 20 second timeout - debug detection logic
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

rewrite: completely new detection logic from scratch
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

debug: show complete UI hierarchy to understand what exists
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

test: specifically look for 'Clean the kitchen' task
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

Add real BrowserStack web testing with visual verification
  java-spring/src/test/java/com/ditto/example/spring/quickstart/QuickstartApplicationTests.java
Owners: @phatblat, @busec0

fix: search only static texts instead of all UI elements
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

fix: target the task list table specifically, not all static texts
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

debug: check if SwiftUI List becomes ScrollView or CollectionView
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

fix: search CollectionView for tasks - SwiftUI List becomes CollectionView
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

revert: back to original objective - look for GitHub seeded document
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

fix: explicitly fail test when no GitHub env vars present
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

cleanup: remove permission dialog handling cruft
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

chore: update ditto version to 4.12.1
  android-cpp/QuickStartTasksCPP/app/build.gradle.kts
  android-java/README.md
  android-kotlin/QuickStartTasks/gradle/libs.versions.toml
  android-kotlin/README.md
  dotnet-maui/DittoMauiTasksApp/DittoMauiTasksApp.csproj
  dotnet-maui/README.md
  dotnet-tui/DittoDotNetTasksConsole/DittoDotNetTasksConsole.csproj
  dotnet-winforms/README.md
  dotnet-winforms/TasksApp/DittoTasksApp.csproj
  javascript-tui/package-lock.json
  javascript-tui/package.json
  javascript-web/README.md
  javascript-web/package-lock.json
  javascript-web/package.json
Owners: @kristopherjohnson, @teodorciuraru, @phatblat, @busec0, @konstantinbe, @pvditto

Fix unit test filter to avoid BrowserStack test in unit test phase
  .github/workflows/java-spring-ci.yml
Owners: @getditto/sdk-engineers

fix: remove local testing from Android BrowserStack integration
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

fix: test naturally fails locally without forcing failure
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

fix: add 10 second timeout before failing test
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

test: seed and detect "Clean the kitchen" document for winning test
  .github/workflows/swift-browserstack.yml
  swift/TasksUITests/TasksUITests.swift
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

fix: force NavigationView stack style on iPad to prevent sidebar layout
  swift/Tasks/TasksListScreen.swift
Owners: @phatblat, @konstantinbe, @busec0

feat: update Swift XCUITest to use GitHub environment variables for seeded document detection
  .github/workflows/swift-browserstack.yml
  swift/TasksUITests/TasksUITests.swift
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

fix: ensure document sync test verifies actual app launch and UI context
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/SimpleIntegrationTest.kt
Owners: @phatblat, @busec0

feat: fix Swift test to look for unique GitHub-seeded document
  .github/workflows/swift-browserstack.yml
  swift/Tasks.xcodeproj/project.pbxproj
  swift/Tasks.xcodeproj/xcshareddata/xcschemes/Tasks.xcscheme
  swift/TasksUITests/TasksUITests.swift
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0
