Repository getditto/quickstart, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getditto/sdk-engineers, @kristopherjohnson, @teodorciuraru, @phatblat, @busec0, @cameron1024, @konstantinbe, @pvditto

.github/CODEOWNERS:

#
# .github/CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#

# Global default owners
* @getditto/sdk-engineers

# SDK-specific owners
/android-cpp/            @kristopherjohnson @teodorciuraru
/android-java/           @phatblat @busec0
/android-kotlin/         @phatblat @busec0
/cpp-tui/                @kristopherjohnson @teodorciuraru
/dotnet-maui/            @busec0 @phatblat
/dotnet-tui/             @busec0 @phatblat
/dotnet-winforms/        @busec0 @phatblat
/flutter_app/            @cameron1024 @teodorciuraru
/java-spring/            @phatblat @busec0
/javascript-tui/         @konstantinbe @pvditto @teodorciuraru
/javascript-web/         @konstantinbe @pvditto @teodorciuraru
/kotlin-multiplatform/   @busec0 @phatblat
/react-native/           @teodorciuraru @kristopherjohnson
/react-native-expo/      @teodorciuraru @kristopherjohnson
/rust-tui/               @kristopherjohnson @cameron1024
/swift/                  @phatblat @konstantinbe @busec0

# TODO: Enable once we have 2 reviewers for Edge Server
# /edge-server/            @baxterjo

docs: improve document ID parsing with shared utility and documentation
  .github/scripts/flutter-browserstack-test.py
  .github/workflows/flutter-ci-browserstack.yml
  flutter_app/integration_test/app_test.dart
  flutter_app/integration_test/ditto_sync_test.dart
Owners: @getditto/sdk-engineers, @cameron1024, @teodorciuraru

feat: implement real BrowserStack automated testing with Appium
  .github/workflows/swift-browserstack.yml
  swift/BrowserStackTests/ditto_sync_test.py
  swift/BrowserStackTests/requirements.txt
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

fix: rename misleading BrowserStack workflow to Secondary CI
  .github/workflows/cpp-tui-secondary.yml
Owners: @getditto/sdk-engineers

fix: implement proper BrowserStack Local tunnel for Java Spring tests
  .github/workflows/java-spring-browserstack.yml
Owners: @getditto/sdk-engineers

feat: implement real Flutter integration tests on BrowserStack devices
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

fix: replace Python Appium tests with native XCUITest for BrowserStack
  .github/workflows/swift-browserstack.yml
  swift/BrowserStackTests/ditto_sync_test.py
  swift/BrowserStackTests/requirements.txt
  swift/TasksUITests/TasksUITests.swift
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

fix: improve BrowserStack Local tunnel reliability with better verification
  .github/workflows/java-spring-browserstack.yml
Owners: @getditto/sdk-engineers

fix: resolve Ditto environment mismatch between HTTP API and mobile apps
  .github/workflows/kotlin-multiplatform-browserstack.yml
Owners: @getditto/sdk-engineers

fix: resolve Maestro test failures - require Metro bundler and .env file
  react-native-expo/.maestro/flows/02-create-task.yaml
Owners: @teodorciuraru, @kristopherjohnson

fix: build release APK with bundled JS for BrowserStack (no Metro dependency)
  .github/scripts/browserstack-maestro-test.py
  .github/workflows/react-native-expo-maestro-browserstack.yml
Owners: @getditto/sdk-engineers

fix: use exact BrowserStack Local daemon pattern from working JS reference
  .github/workflows/java-spring-browserstack.yml
Owners: @getditto/sdk-engineers

remove: unnecessary secondary CI workflow
  .github/workflows/cpp-tui-secondary.yml
Owners: @getditto/sdk-engineers

fix: remove conflicting BrowserStack Local status check
  .github/workflows/java-spring-browserstack.yml
Owners: @getditto/sdk-engineers

fix: simplify BrowserStack testing to real device functionality validation
  .github/workflows/swift-browserstack.yml
  swift/TasksUITests/TasksUITests.swift
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

fix: resolve Python externally-managed-environment error for Appium
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

fix: add missing flutter_driver dependency for BrowserStack Appium integration
  flutter_app/pubspec.yaml
Owners: @cameron1024, @teodorciuraru

feat: add Android Kotlin CI pipeline with lint step
  .github/workflows/android-kotlin-ci.yml
  android-kotlin/QuickStartTasks/app/build.gradle.kts
  android-kotlin/QuickStartTasks/app/lint-baseline.xml
  android-kotlin/QuickStartTasks/app/src/main/AndroidManifest.xml
Owners: @getditto/sdk-engineers, @phatblat, @busec0

feat: improve BrowserStack testing to follow Android Kotlin example pattern
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

feat: adopt proven Flutter BrowserStack pattern from PR #134
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

feat: improve BrowserStack workflows with unique project names and enhanced error handling
  .github/workflows/android-cpp-browserstack.yml
  .github/workflows/android-java-browserstack.yml
  .github/workflows/android-kotlin-browserstack.yml
  .github/workflows/java-spring-browserstack.yml
Owners: @getditto/sdk-engineers

feat: implement proper BrowserStack XCUITest API following Kotlin Espresso pattern
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

feat: complete XCUITest workflow implementation
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

feat: implement separate BrowserStack jobs for iOS, Android and Web platforms
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

fix: use release builds instead of debug for BrowserStack Maestro tests
  .github/workflows/react-native-bare-ios-maestro-browserstack.yml
  .github/workflows/react-native-bare-maestro-browserstack.yml
  .github/workflows/react-native-expo-ios-maestro-browserstack.yml
Owners: @getditto/sdk-engineers

fix: correct BrowserStack XCUITest test bundle format and API usage
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: switch to Appium approach for BrowserStack testing
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: resolve YAML parsing error by using separate test files
  .github/workflows/swift-browserstack.yml
  swift/appium_test.py
  swift/requirements.txt
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

fix: correct bundle identifier in Appium test for BrowserStack
  swift/appium_test.py
Owners: @phatblat, @konstantinbe, @busec0

feat: enhance BrowserStack test to verify document sync
  .github/workflows/swift-browserstack.yml
  swift/appium_test.py
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

fix: resolve critical BrowserStack workflow issues
  .github/workflows/android-cpp-browserstack.yml
  .github/workflows/android-java-browserstack.yml
  .github/workflows/android-kotlin-browserstack.yml
  .github/workflows/java-spring-browserstack.yml
Owners: @getditto/sdk-engineers

fix: use TestRunner.swift for integration test in BrowserStack workflow
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: ensure iOS Release builds properly bundle JavaScript for BrowserStack
  .github/workflows/react-native-bare-ios-maestro-browserstack.yml
  .github/workflows/react-native-expo-ios-maestro-browserstack.yml
Owners: @getditto/sdk-engineers

improve: enhance Appium test to handle permissions and better sync verification
  swift/appium_test.py
Owners: @phatblat, @konstantinbe, @busec0

fix: add sync toggle activation for KMP BrowserStack tests
  .github/scripts/browserstack-android-test.py
  .github/scripts/browserstack-ios-test.py
  .github/workflows/kotlin-multiplatform-browserstack.yml
Owners: @getditto/sdk-engineers

fix: resolve iOS device build path and BrowserStack project organization
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

feat: implement real HTTP API document insertion for sync verification
  .github/workflows/swift-browserstack.yml
  swift/appium_test.py
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

fix: improve BrowserStack Local tunnel debugging and connectivity
  .github/workflows/java-spring-browserstack.yml
Owners: @getditto/sdk-engineers

fix: replace head -n -1 with sed for macOS compatibility
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

feat: implement proper BrowserStack Flutter integration testing API
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

fix: correct BrowserStack Flutter API parameters for project creation
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers
