Repository getditto/quickstart, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getditto/sdk-engineers, @kristopherjohnson, @teodorciuraru, @phatblat, @busec0, @cameron1024, @konstantinbe, @pvditto

.github/CODEOWNERS:

#
# .github/CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#

# Global default owners
* @getditto/sdk-engineers

# SDK-specific owners
/android-cpp/            @kristopherjohnson @teodorciuraru
/android-java/           @phatblat @busec0
/android-kotlin/         @phatblat @busec0
/cpp-tui/                @kristopherjohnson @teodorciuraru
/dotnet-maui/            @busec0 @phatblat
/dotnet-tui/             @busec0 @phatblat
/dotnet-winforms/        @busec0 @phatblat
/flutter_app/            @cameron1024 @teodorciuraru
/java-spring/            @phatblat @busec0
/javascript-tui/         @konstantinbe @pvditto @teodorciuraru
/javascript-web/         @konstantinbe @pvditto @teodorciuraru
/kotlin-multiplatform/   @busec0 @phatblat
/react-native/           @teodorciuraru @kristopherjohnson
/react-native-expo/      @teodorciuraru @kristopherjohnson
/rust-tui/               @kristopherjohnson @cameron1024
/swift/                  @phatblat @konstantinbe @busec0

# TODO: Enable once we have 2 reviewers for Edge Server
# /edge-server/            @baxterjo

feat: add TasksUITests target to Xcode project for BrowserStack automation
  swift/Tasks.xcodeproj/project.pbxproj
  swift/Tasks.xcodeproj/project.xcworkspace/xcshareddata/xcschemes/TasksUITests.xcscheme
Owners: @phatblat, @konstantinbe, @busec0

fix(android-java): improve UI test targeting for RecyclerView items
  android-java/app/src/androidTest/java/com/example/dittotasks/ExampleInstrumentedTest.kt
Owners: @phatblat, @busec0

feat: add BrowserStack integration with Ditto Cloud sync testing
  .github/workflows/android-kotlin-browserstack.yml
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/ExampleInstrumentedTest.kt
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/TasksSyncIntegrationTest.kt
Owners: @getditto/sdk-engineers, @phatblat, @busec0

fix: resolve BrowserStack 422 error with proper XCUITest bundle structure
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix(android-java): resolve NoActivityResumedException in UI tests
  android-java/app/src/androidTest/java/com/example/dittotasks/ExampleInstrumentedTest.kt
Owners: @phatblat, @busec0

fix(android-java): implement manual activity launch for UI tests
  android-java/app/src/androidTest/java/com/example/dittotasks/ExampleInstrumentedTest.kt
Owners: @phatblat, @busec0

fix: add robust debugging for XCUITest bundle file paths
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: correct .xctestrun copy path for BrowserStack test bundle
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

feat(android-java): enable cloud sync and upgrade Ditto SDK
  android-java/app/src/main/java/com/example/dittotasks/MainActivity.java
  android-java/gradle/libs.versions.toml
Owners: @phatblat, @busec0

fix: create BrowserStack-compliant XCUITest bundle with proper root structure
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: enable Ditto Cloud sync by default in KMP app
  kotlin-multiplatform/composeApp/src/commonMain/kotlin/com/ditto/quickstart/ditto/DittoManager.kt
Owners: @busec0, @phatblat

fix: use absolute paths and Runner-only ZIP for BrowserStack XCUITest
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: remove Appium cruft and fix Maestro BrowserStack integration
  .github/scripts/__pycache__/browserstack-appium-test.cpython-313.pyc
  .github/scripts/browserstack-appium-test.py
  .github/scripts/test-appium-local.py
  .github/workflows/react-native-expo-appium-browserstack.yml
  .github/workflows/react-native-expo-ios-appium-browserstack.yml
  react-native/.maestro/flows/01-app-launch.yaml
  react-native/.maestro/flows/02-create-task.yaml
  react-native/.maestro/flows/08-external-sync-verification.yaml
Owners: @getditto/sdk-engineers, @teodorciuraru, @kristopherjohnson

feat(android-java): add comprehensive document sync verification
  android-java/app/src/androidTest/java/com/example/dittotasks/ExampleInstrumentedTest.kt
Owners: @phatblat, @busec0

fix: match test document titles between workflows and Maestro flows
  .github/workflows/react-native-expo-ios-maestro-browserstack.yml
  react-native-expo/.maestro/flows/08-external-sync-verification.yaml
Owners: @getditto/sdk-engineers, @teodorciuraru, @kristopherjohnson

fix: improve integration test error handling and activity lifecycle
  .github/workflows/android-kotlin-browserstack.yml
  android-kotlin/LOCAL_TESTING.md
  android-kotlin/QuickStartTasks/app/build.gradle.kts
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/TasksSyncIntegrationTest.kt
  android-kotlin/scripts/seed-test-document.py
  android-kotlin/scripts/test-local.sh
Owners: @getditto/sdk-engineers, @phatblat, @busec0

fix: use staging directory approach for BrowserStack XCUITest ZIP creation
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: address PR comments
  .github/scripts/browserstack-test.py
  .github/workflows/javascript-web-browserstack.yml
Owners: @getditto/sdk-engineers

feat: implement comprehensive KMP integration tests with scrolling support
  kotlin-multiplatform/composeApp/src/commonMain/kotlin/com/ditto/quickstart/ui/TaskListScreen.kt
  kotlin-multiplatform/composeApp/src/commonTest/kotlin/integration/DittoSyncIntegrationTest.kt
Owners: @busec0, @phatblat

fix(android-java): create robust test suite that works reliably
  android-java/app/src/androidTest/java/com/example/dittotasks/ExampleInstrumentedTest.kt
Owners: @phatblat, @busec0

chore: remove local seeding functionality and simplify integration tests
  android-kotlin/QuickStartTasks/app/build.gradle.kts
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/TasksSyncIntegrationTest.kt
Owners: @phatblat, @busec0

debug: investigate .xctestrun validation error with BrowserStack
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: replace Compose integration tests with working ActivityScenario tests
  android-kotlin/QuickStartTasks/app/build.gradle.kts
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/SimpleIntegrationTest.kt
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/TasksSyncIntegrationTest.kt
Owners: @phatblat, @busec0

fix: configure BrowserStack to run only working SimpleIntegrationTest
  .github/workflows/android-kotlin-browserstack.yml
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/TasksSyncIntegrationTest.kt.disabled
Owners: @getditto/sdk-engineers, @phatblat, @busec0

fix(android-java): create reliable test suite with proper verification
  android-java/app/src/androidTest/java/com/example/dittotasks/ExampleInstrumentedTest.kt
Owners: @phatblat, @busec0

fix: properly configure TasksUITests scheme for build-for-testing
  swift/Tasks.xcodeproj/project.xcworkspace/xcshareddata/xcschemes/TasksUITests.xcscheme
Owners: @phatblat, @konstantinbe, @busec0

feat: make integration tests strict to prevent false positives
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/SimpleIntegrationTest.kt
Owners: @phatblat, @busec0

fix: correct Maestro syntax errors that caused BrowserStack timeouts
  react-native-expo/.maestro/flows/08-external-sync-verification.yaml
  react-native/.maestro/flows/08-external-sync-verification.yaml
Owners: @teodorciuraru, @kristopherjohnson

fix: add Gradle assembleDebugAndroidTest to build instrumentation test APK
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

fix: use Tasks scheme for build-for-testing instead of TasksUITests
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: use TasksUITests scheme which exists as shared scheme
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

feat: adopt working Compose test pattern while keeping document seeding
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/SimpleIntegrationTest.kt
Owners: @phatblat, @busec0

fix: use Tasks scheme which exists as shared scheme
  .github/workflows/swift-browserstack.yml
  swift/Tasks.xcodeproj/xcshareddata/xcschemes/Tasks.xcscheme
  swift/Tasks.xcodeproj/xcshareddata/xcschemes/TasksUITests.xcscheme
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

fix: resolve API type issues in KMP integration tests
  kotlin-multiplatform/composeApp/src/commonTest/kotlin/integration/DittoSyncIntegrationTest.kt
Owners: @busec0, @phatblat

fix: correct BrowserStack API test filter format
  .github/workflows/android-kotlin-browserstack.yml
Owners: @getditto/sdk-engineers

revert: remove fake document test after verification
  android-java/app/src/androidTest/java/com/example/dittotasks/ExampleInstrumentedTest.kt
Owners: @phatblat, @busec0

feat: replace Python with direct curl for BrowserStack Maestro integration
  .github/workflows/react-native-expo-ios-maestro-browserstack.yml
Owners: @getditto/sdk-engineers

fix: improve BrowserStack API error handling and debugging
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

fix(android-java): make test same locally/CI with visual confirmation
  android-java/app/src/androidTest/java/com/example/dittotasks/ExampleInstrumentedTest.kt
Owners: @phatblat, @busec0

fix: implement BrowserStack-compliant XCUITest bundle creation
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers
