Repository getditto/quickstart, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getditto/sdk-engineers, @kristopherjohnson, @teodorciuraru, @phatblat, @anyercastillo, @busec0, @cameron1024, @konstantinbe, @pvditto

fix(rn): image-size 1.2.0 patch
  react-native/package.json
  react-native/yarn.lock
Owners: @teodorciuraru, @kristopherjohnson

fix(rn): adapt to BYOC and default identities
  react-native/App.tsx
Owners: @teodorciuraru, @kristopherjohnson

feat(rn): push updated `lock` files
  react-native/ios/Podfile.lock
  react-native/yarn.lock
Owners: @teodorciuraru, @kristopherjohnson

Modify rust-tui to use `OnlineWithAuthentication` instead
  rust-tui/README.md
  rust-tui/src/bin/main.rs
Owners: @kristopherjohnson, @cameron1024

Add supported platforms for Windows and Mac Catalyst
  dotnet-maui/DittoMauiTasksApp/DittoMauiTasksApp.csproj
Owners: @busec0, @phatblat

🥅 Use specific exceptions/errors in catch blocks
  android-kotlin/QuickStartTasks/app/src/main/java/live/ditto/quickstart/tasks/data/Task.kt
  android-kotlin/QuickStartTasks/app/src/main/java/live/ditto/quickstart/tasks/edit/EditScreenViewModel.kt
  android-kotlin/QuickStartTasks/app/src/main/java/live/ditto/quickstart/tasks/list/TasksListScreenViewModel.kt
Owners: @phatblat, @anyercastillo

feat(rn): upgrade quickstart to 0.79.1
  .gitignore
  react-native/.yarnrc.yml
  react-native/Gemfile
  react-native/android/app/build.gradle
  react-native/android/app/src/main/java/com/dittoreactnativesampleapp/MainApplication.kt
  react-native/android/build.gradle
  react-native/android/gradle/wrapper/gradle-wrapper.jar
  react-native/android/gradle/wrapper/gradle-wrapper.properties
  react-native/android/gradlew
  react-native/android/gradlew.bat
  react-native/ios/AppDelegate.swift
  react-native/ios/DittoReactNativeSampleApp-Bridging-Header.h
  react-native/ios/DittoReactNativeSampleApp.xcodeproj/project.pbxproj
  react-native/ios/DittoReactNativeSampleApp/AppDelegate.h
  react-native/ios/DittoReactNativeSampleApp/AppDelegate.mm
  react-native/ios/DittoReactNativeSampleApp/AppDelegate.swift
  react-native/ios/DittoReactNativeSampleApp/main.m
  react-native/ios/DittoReactNativeSampleAppTests/DittoReactNativeSampleAppTests.m
  react-native/ios/DittoReactNativeSampleAppTests/Info.plist
  react-native/ios/Podfile
  react-native/ios/Podfile.lock
  react-native/metro.config.js
  react-native/package.json
  react-native/yarn.lock
Owners: @getditto/sdk-engineers, @teodorciuraru, @kristopherjohnson

feat(rn): bump Ditto to latest version
  react-native/ios/Podfile.lock
  react-native/package.json
  react-native/yarn.lock
Owners: @teodorciuraru, @kristopherjohnson

fix: revert monorepo .gitignore
  .gitignore
Owners: @getditto/sdk-engineers

fix: security vulnerabilities
  javascript-tui/package-lock.json
  javascript-web/README.md
  javascript-web/package-lock.json
  javascript-web/yarn.lock
Owners: @konstantinbe, @pvditto, @teodorciuraru

check-in of the Windows Forms example app
  dotnet-winforms/.gitignore
  dotnet-winforms/README.md
  dotnet-winforms/TasksApp/AboutForm.Designer.cs
  dotnet-winforms/TasksApp/AboutForm.cs
  dotnet-winforms/TasksApp/AboutForm.resx
  dotnet-winforms/TasksApp/DittoTasksApp.csproj
  dotnet-winforms/TasksApp/DittoTasksApp.sln
  dotnet-winforms/TasksApp/MainForm.Designer.cs
  dotnet-winforms/TasksApp/MainForm.cs
  dotnet-winforms/TasksApp/MainForm.resx
  dotnet-winforms/TasksApp/Program.cs
  dotnet-winforms/TasksApp/Properties/Resources.Designer.cs
  dotnet-winforms/TasksApp/Properties/Resources.resx
  dotnet-winforms/TasksApp/TasksPeer.cs
  dotnet-winforms/TasksApp/ToDoTask.cs
  dotnet-winforms/TasksApp/ToDoTaskEditorForm.Designer.cs
  dotnet-winforms/TasksApp/ToDoTaskEditorForm.cs
  dotnet-winforms/TasksApp/ToDoTaskEditorForm.resx
  dotnet-winforms/TasksApp/assets/plus-icon.bmp
  dotnet-winforms/TasksApp/assets/social_banner_dark.png
  dotnet-winforms/TasksApp/assets/sync-off.bmp
  dotnet-winforms/TasksApp/assets/sync-on.bmp
Owners: @getditto/sdk-engineers

fixed readme.md files
  README.md
  dotnet-winforms/README.md
Owners: @getditto/sdk-engineers

Add support for using .env to Andriod Java
  android-java/README.md
  android-java/app/build.gradle.kts
  android-java/app/src/main/java/com/example/dittotasks/MainActivity.java
Owners: @phatblat, @anyercastillo

Update README.md
  dotnet-winforms/README.md
Owners: @getditto/sdk-engineers

Update README.md
  dotnet-winforms/README.md
Owners: @getditto/sdk-engineers

In `android-java/README.md`, fix description of where Ditto SDK version is set
  android-java/README.md
Owners: @phatblat, @anyercastillo

Add prettier and integrate with eslint
  javascript-web/eslint.config.js
  javascript-web/package-lock.json
  javascript-web/package.json
  javascript-web/prettier.config.js
Owners: @konstantinbe, @pvditto, @teodorciuraru

Apply prettier format
  javascript-web/postcss.config.js
  javascript-web/src/App.css
  javascript-web/src/App.tsx
  javascript-web/src/components/DittoInfo.tsx
  javascript-web/src/components/TaskList.tsx
  javascript-web/src/index.css
  javascript-web/src/main.tsx
  javascript-web/tailwind.config.js
  javascript-web/vite.config.ts
Owners: @konstantinbe, @pvditto, @teodorciuraru

Add js-web lint job
  .github/workflows/pr-checks.yml
Owners: @getditto/sdk-engineers

Add javascript-tui lint job
  .github/workflows/pr-checks.yml
  javascript-tui/package-lock.json
  javascript-tui/package.json
  javascript-tui/prettier.config.js
Owners: @getditto/sdk-engineers, @konstantinbe, @pvditto, @teodorciuraru

Fix typo
  .github/workflows/pr-checks.yml
Owners: @getditto/sdk-engineers

Apply format
  javascript-tui/README.md
  javascript-tui/prettier.config.js
  javascript-tui/source/app.js
  javascript-tui/source/cli.js
Owners: @konstantinbe, @pvditto, @teodorciuraru

Remove unused `xo` and `ava` dependencies
  javascript-tui/package-lock.json
  javascript-tui/package.json
Owners: @konstantinbe, @pvditto, @teodorciuraru

Update android-java/README.md
  android-java/README.md
Owners: @phatblat, @anyercastillo

Move `ditto` to the top of `lib.versions.toml`
  android-java/gradle/libs.versions.toml
Owners: @phatblat, @anyercastillo

android-cpp: Restore Sync control which was removed due to 4.9 SDK sync bug
  android-cpp/QuickStartTasksCPP/app/build.gradle.kts
  android-cpp/QuickStartTasksCPP/app/src/main/cpp/tasks_peer.cpp
  android-cpp/QuickStartTasksCPP/app/src/main/cpp/tasks_peer.h
  android-cpp/QuickStartTasksCPP/app/src/main/java/live/ditto/quickstart/tasks/list/TasksListScreen.kt
  android-cpp/QuickStartTasksCPP/app/src/main/java/live/ditto/quickstart/tasks/list/TasksListScreenViewModel.kt
Owners: @kristopherjohnson, @teodorciuraru

rust-tui: Update Ditto SDK dependency to 4.10.2
  rust-tui/Cargo.lock
  rust-tui/Cargo.toml
Owners: @kristopherjohnson, @cameron1024

Add rust-toolchain which matches the Rust 4.10.2 SDK
  rust-tui/rust-toolchain
Owners: @kristopherjohnson, @cameron1024

Improve doc comments around sync subscriptions vs store observers to help point people towards the right mental model
  android-kotlin/QuickStartTasks/app/src/main/java/live/ditto/quickstart/tasks/TasksApplication.kt
  android-kotlin/QuickStartTasks/app/src/main/java/live/ditto/quickstart/tasks/list/TasksListScreenViewModel.kt
  dotnet-maui/DittoMauiTasksApp/MauiProgram.cs
  dotnet-maui/DittoMauiTasksApp/ViewModels/TasksPageviewModel.cs
  dotnet-tui/DittoDotNetTasksConsole/TasksPeer.cs
  dotnet-winforms/TasksApp/TasksPeer.cs
  flutter_app/lib/dql_builder.dart
  java-spring/bin/main/application.properties
  java-spring/bin/main/com/ditto/example/spring/quickstart/QuickstartApplication.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/configuration/DittoConfigurationKeys.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/controller/DittoConfigRestController.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/controller/TaskContentController.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/controller/TaskRestController.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/service/DittoService.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/service/DittoTaskService.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/service/Task.class
  java-spring/bin/main/templates/fragments/editForm.html
  java-spring/bin/main/templates/fragments/taskList.html
  java-spring/bin/main/templates/index.html
  java-spring/bin/test/com/ditto/example/spring/quickstart/QuickstartApplicationTests.class
  javascript-tui/source/app.js
  javascript-tui/source/cli.js
  javascript-web/src/App.tsx
  react-native-expo/App.tsx
  react-native/App.tsx
  swift/tasks/tasks/TasksListScreen.swift
Owners: @phatblat, @anyercastillo, @busec0, @getditto/sdk-engineers, @konstantinbe, @pvditto, @teodorciuraru, @kristopherjohnson

remove things that shouldn't be in the repo
  java-spring/bin/main/application.properties
  java-spring/bin/main/com/ditto/example/spring/quickstart/QuickstartApplication.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/configuration/DittoConfigurationKeys.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/controller/DittoConfigRestController.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/controller/TaskContentController.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/controller/TaskRestController.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/service/DittoService.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/service/DittoTaskService.class
  java-spring/bin/main/com/ditto/example/spring/quickstart/service/Task.class
  java-spring/bin/main/templates/fragments/editForm.html
  java-spring/bin/main/templates/fragments/taskList.html
  java-spring/bin/main/templates/index.html
  java-spring/bin/test/com/ditto/example/spring/quickstart/QuickstartApplicationTests.class
Owners: @getditto/sdk-engineers

git ignore java spring bin
  java-spring/.gitignore
Owners: @getditto/sdk-engineers

js lint
  javascript-tui/source/app.js
Owners: @konstantinbe, @pvditto, @teodorciuraru

I missed rust
  rust-tui/src/bin/main.rs
  rust-tui/src/tui/todolist.rs
Owners: @kristopherjohnson, @cameron1024

fix(rn): remove hardcoded Ditto Java dependency
  react-native/android/app/build.gradle
Owners: @teodorciuraru, @kristopherjohnson

.github/CODEOWNERS:

#
# .github/CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#

# Global default owners
* @getditto/sdk-engineers

# SDK-specific owners
/android-cpp/        @kristopherjohnson @teodorciuraru
/android-java/       @phatblat @anyercastillo
/android-kotlin/     @phatblat @anyercastillo
/cpp-tui/            @kristopherjohnson @teodorciuraru
/dotnet-maui/        @busec0 @phatblat
/dotnet-tui/         @busec0 @phatblat
/flutter_quickstart/ @cameron1024 @teodorciuraru
/javascript-tui/     @konstantinbe @pvditto @teodorciuraru
/javascript-web/     @konstantinbe @pvditto @teodorciuraru
/react-native/       @teodorciuraru @kristopherjohnson
/rust-tui/           @kristopherjohnson @cameron1024
/swift/              @phatblat @konstantinbe
