Repository getditto/quickstart, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getditto/sdk-engineers, @kristopherjohnson, @teodorciuraru, @phatblat, @busec0, @cameron1024, @konstantinbe, @pvditto

.github/CODEOWNERS:

#
# .github/CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#

# Global default owners
* @getditto/sdk-engineers

# SDK-specific owners
/android-cpp/            @kristopherjohnson @teodorciuraru
/android-java/           @phatblat @busec0
/android-kotlin/         @phatblat @busec0
/cpp-tui/                @kristopherjohnson @teodorciuraru
/dotnet-maui/            @busec0 @phatblat
/dotnet-tui/             @busec0 @phatblat
/dotnet-winforms/        @busec0 @phatblat
/flutter_app/            @cameron1024 @teodorciuraru
/java-spring/            @phatblat @busec0
/javascript-tui/         @konstantinbe @pvditto @teodorciuraru
/javascript-web/         @konstantinbe @pvditto @teodorciuraru
/kotlin-multiplatform/   @busec0 @phatblat
/react-native/           @teodorciuraru @kristopherjohnson
/react-native-expo/      @teodorciuraru @kristopherjohnson
/rust-tui/               @kristopherjohnson @cameron1024
/swift/                  @phatblat @konstantinbe @busec0

# TODO: Enable once we have 2 reviewers for Edge Server
# /edge-server/            @baxterjo

fix: correct environment variable mapping in KMP BrowserStack workflow
  .github/workflows/kotlin-multiplatform-browserstack.yml
Owners: @getditto/sdk-engineers

fix: remove .xctestrun file from test bundle per BrowserStack error
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: correct BrowserStack Flutter API endpoints
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

test: add intentional failure to verify BrowserStack can detect failures
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/SimpleIntegrationTest.kt
Owners: @phatblat, @busec0

feat: enhance TasksUITests with scrolling and comprehensive search
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

fix: correct BrowserStack Maestro API to match official documentation
  .github/workflows/react-native-expo-ios-maestro-browserstack.yml
Owners: @getditto/sdk-engineers

fix: search for EXACT document with precise env variables
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

revert: switch back to working BrowserStack test behavior
  android-java/app/src/androidTest/java/com/example/dittotasks/ExampleInstrumentedTest.kt
Owners: @phatblat, @busec0

fix: remove intentional failure test, return to production-ready state
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/SimpleIntegrationTest.kt
Owners: @phatblat, @busec0

refactor: production-ready cleanup and improvements
  android-java/app/src/androidTest/java/com/example/dittotasks/ExampleInstrumentedTest.kt
Owners: @phatblat, @busec0

feat: hoist GitHub test document to top of task list
  .github/workflows/swift-browserstack.yml
  swift/TasksUITests/TasksUITests.swift
Owners: @getditto/sdk-engineers, @phatblat, @konstantinbe, @busec0

fix: correct BrowserStack build endpoint from /builds to /build
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

refactor: prepare Android Kotlin BrowserStack CI for production
  .github/workflows/android-kotlin-browserstack.yml
  android-kotlin/QuickStartTasks/app/build.gradle.kts
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/SimpleIntegrationTest.kt
Owners: @getditto/sdk-engineers, @phatblat, @busec0

rename: workflow file to android-java-ci.yml
  .github/workflows/android-java-ci.yml
Owners: @getditto/sdk-engineers

feat: consolidate KMP BrowserStack tests into CI workflow
  .github/workflows/kotlin-multiplatform-browserstack.yml
  .github/workflows/kotlin-multiplatform-ci.yml
Owners: @getditto/sdk-engineers

feat: consolidate Android Kotlin CI workflows to eliminate duplicate builds
  .github/workflows/android-kotlin-browserstack.yml
  .github/workflows/android-kotlin-ci.yml
Owners: @getditto/sdk-engineers

feat: remove duplicate SwiftLint step from BrowserStack workflow
  .github/workflows/swift-browserstack.yml
Owners: @getditto/sdk-engineers

fix: add comprehensive scrolling to find document in unsorted list
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

feat: implement correct Flutter iOS integration testing with artifact reuse
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

chore: upgrade to 4.11.4
  android-cpp/QuickStartTasksCPP/app/build.gradle.kts
  android-java/README.md
  android-kotlin/QuickStartTasks/gradle/libs.versions.toml
  android-kotlin/README.md
  dotnet-maui/DittoMauiTasksApp/DittoMauiTasksApp.csproj
  dotnet-maui/README.md
  dotnet-tui/DittoDotNetTasksConsole/DittoDotNetTasksConsole.csproj
  dotnet-winforms/README.md
  dotnet-winforms/TasksApp/DittoTasksApp.csproj
  javascript-tui/package-lock.json
  javascript-tui/package.json
  javascript-web/README.md
  javascript-web/package-lock.json
  javascript-web/package.json
  react-native-expo/package.json
Owners: @kristopherjohnson, @teodorciuraru, @phatblat, @busec0, @konstantinbe, @pvditto

chore: auto-build release branches
  .github/workflows/android-cpp-browserstack.yml
  .github/workflows/javascript-web-browserstack.yml
  .github/workflows/pr-checks.yml
  .github/workflows/react-native-ci.yml
  .github/workflows/react-native-expo-ci.yml
  .github/workflows/swift-ci.yml
Owners: @getditto/sdk-engineers

fix: move iOS build to macOS runner
  .github/workflows/flutter-ci-browserstack.yml
  flutter_app/pubspec.lock
Owners: @getditto/sdk-engineers, @cameron1024, @teodorciuraru

trigger: test corrected BrowserStack Maestro API v1 integration
  react-native/README.md
Owners: @teodorciuraru, @kristopherjohnson

feat: sort tasks alphabetically with prefixed tasks first
  .github/workflows/kotlin-multiplatform-ci.yml
  kotlin-multiplatform/composeApp/src/commonMain/kotlin/com/ditto/quickstart/data/repository/DittoTaskRepository.kt
Owners: @getditto/sdk-engineers, @busec0, @phatblat

fix: add pod install for iOS dependencies
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

feat: add BrowserStack Local testing support
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

feat: add test script for demonstrating task sorting
  test_sorting.py
Owners: @getditto/sdk-engineers

fix: add ORDER BY _id ASC to task queries for consistent sorting
  react-native-expo/App.tsx
  react-native/App.tsx
Owners: @teodorciuraru, @kristopherjohnson

fix: disable iOS code signing for BrowserStack test builds
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

fix: sort tasks by title to make GitHub test documents predictable
  swift/Tasks/TasksListScreen.swift
Owners: @phatblat, @konstantinbe, @busec0

Add comprehensive CI/CD pipeline for java-spring with BrowserStack integration
  .github/workflows/java-spring-ci.yml
  java-spring/build.gradle.kts
  java-spring/config/checkstyle/checkstyle.xml
  java-spring/config/pmd/pmd.xml
  java-spring/src/test/java/com/ditto/example/spring/quickstart/BrowserStackIntegrationTest.java
Owners: @getditto/sdk-engineers, @phatblat, @busec0

debug: add detailed logging for iOS test package creation
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

fix: correct iOS test package file path resolution
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

fix: handle multiple permission dialogs during UI test execution
  swift/TasksUITests/TasksUITests.swift
Owners: @phatblat, @konstantinbe, @busec0

debug: add iOS test package location detection
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

perf: optimize BrowserStack test timing - exit immediately when document found
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/SimpleIntegrationTest.kt
Owners: @phatblat, @busec0

fix: correct BrowserStack iOS test package path
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers

fix: ensure sync starts by default for better testing and UX
  kotlin-multiplatform/composeApp/src/commonMain/kotlin/com/ditto/quickstart/ui/AppViewModel.kt
Owners: @busec0, @phatblat

feat: add 3-second visual pause after document detection for BrowserStack verification
  android-kotlin/QuickStartTasks/app/src/androidTest/java/live/ditto/quickstart/tasks/SimpleIntegrationTest.kt
Owners: @phatblat, @busec0

fix: remove unsupported local testing from iOS Flutter BrowserStack integration
  .github/workflows/flutter-ci-browserstack.yml
Owners: @getditto/sdk-engineers
